

span.ez-buttons {
	float: right;
}


.ezimageBox{
	float:right;
	padding-left:2px;
	padding-bottom:2px;
}

.ezfeatBox{
	float:right;
	width: 160px;
}


h2 {
	font-family: ‘Arial Narrow’, sans-serif;
    font-size: 26px;
	font-stretch: semi-condensed;
	font-weight: bold;
	color: #747474;
    margin-top: 30px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    z-index: 1;    
}

h2:before {
    border-top: 17px solid #ebebeb;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 5px; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
}

h2 span { background: #fff; padding-left: 15px; }





h5 {
	font-family: ‘Arial Narrow’, sans-serif;
    font-size: 22px;
	font-stretch: semi-condensed;
	font-weight: bold;
	color: #747474;
    margin-top: 30px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    z-index: 1;    
}

h5:before {
    border-top: 12px solid #ebebeb;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 2px; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
}

h5 span { background: #fff; padding-left: 10px; }



div.category-left-centered {
	border-color:#cccccc;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 1px;
	border-style: dashed ;
}



/* CSS styling for the categories/suburbs page categories and suburbs */

div.ezcat_stuff {
	border-color:#cccccc;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid ;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

img.ezcat_catimg {
	align: right;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 20px;
}


/* CSS styling for listings page items separator */

div.ezitem-separator {
	border-color:#cccccc;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid ;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}


/* CSS styling for general padding */

div.ezitem-bigleftpad, span.ezitem-bigleftpad {
	padding-right: 15px;
}

div.ezitem-leftpad, span.ezitem-leftpad {
	padding-right: 10px;
}

div.ezitem-rightpad, span.ezitem-rightpad {
	padding-left: 10px;
}




















/* CSS styling for search filters */

.ezitem-selectBox{
	float:right;
	width: 180px;
}


.ezitem-shiftbutton{
	position: absolute;
	margin-right: 5px;
}


/* CSS styling for the listings pages image border */

img.ezitem-imgborder {
	background: #ffffff;
	border: 1px solid #cccccc;
	margin: 5px 0 0 5px;
	padding: 7px;
}


/* CSS styling for the listings pages spotlight listing watermark image */

img.spotlight_watermark {
	position: absolute;
	top: 3px;
	right: -2px;
	border:0px solid #585858;
}


/* CSS styling for the listings pages featured listing watermark image */

img.featured_watermark {
	position: absolute;
	top: 4px;
	right: 1px;
	border:0px solid #585858;
}


/* CSS styling for the icons */


[class^="ezicon-"],
[class*=" ezicon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-left: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("./images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="ezicon-"]:last-child,
[class*=" ezicon-"]:last-child {
  *margin-right: 0;
}

